################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/DataBase/MonopolyResultData.mdf
/DataBase/MonopolyResultData.ldf
/DB_schema/MonopolyResultData.mdf
/DB_schema/MonopolyResultData.ldf
